<template>
    <div id="a-order">
        <p>Заказ #{{post_data.id}}</p>
        <div class="order__price-and-btn">
            <p class="order__price">{{post_data.total}} руб.</p>
            <a-select-in-orders 
                :options="options"
                @select="optionSelect"
            />
        </div>


        <a-popup 
            v-if="selected == 1"
            @closePopup="closePopupInfo"
        />
    </div>
</template>



<script>
import aSelectInOrders from './a-select-in-orders'
import aPopup from './a-popup.vue'

export default {
    name: 'a-order',
    components: {
        aSelectInOrders,
        aPopup,
    },
    props: {
        post_data: {
            type: Object,
            default() {
                return {}
            }
        }
    },
    data() {
        return {
            options: [
                {
                    name: 'Подробнее',
                    value: '1'
                },
                {
                    name: 'К отрузке',
                    value: '2'
                },
                {
                    name: 'Отменить',
                    value: '3'
                },
            ],
            selected: ''
        }
    },

    methods: {
        optionSelect(option) {
            this.selected = option.value
        },

        closePopupInfo(){
            this.selected = 0
        }
    }
}

</script>



<style>
    #a-order {
        margin-top: 30px;
        margin-right: 20px;
        margin-left: 20px;
        border:2px solid #000000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 30px;
    }

    .order__price-and-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .order__price{
        margin-right: 15px;
    }
</style>