<template>
    <div class="wrapper-to-popup" ref="popup_wrapper" >
        <div id="a-popup" >
            <div class="a-popup__header">
                <p class="a-popup__heading" 
                >
                    Заказ #123
                </p>

                <div class="a-popup-button-close"
                    @click="closePopup"
                >
                    <svg width="35" height="35" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.564 8.0638C23.6709 7.95704 23.7557 7.83026 23.8136 7.69072C23.8715 7.55117 23.9014 7.40159 23.9014 7.25051C23.9015 7.09943 23.8719 6.94981 23.8141 6.81019C23.7564 6.67058 23.6718 6.5437 23.565 6.4368C23.4582 6.32991 23.3314 6.24509 23.1919 6.18718C23.0524 6.12928 22.9028 6.09943 22.7517 6.09934C22.6006 6.09925 22.451 6.12891 22.3114 6.18664C22.1718 6.24437 22.0449 6.32904 21.938 6.4358L15 13.3738L8.06399 6.4358C7.8481 6.21992 7.55529 6.09863 7.24999 6.09863C6.94468 6.09863 6.65187 6.21992 6.43599 6.4358C6.2201 6.65169 6.09882 6.94449 6.09882 7.2498C6.09882 7.55511 6.2201 7.84792 6.43599 8.0638L13.374 14.9998L6.43599 21.9358C6.32909 22.0427 6.2443 22.1696 6.18644 22.3093C6.12859 22.4489 6.09882 22.5986 6.09882 22.7498C6.09882 22.901 6.12859 23.0507 6.18644 23.1903C6.2443 23.33 6.32909 23.4569 6.43599 23.5638C6.65187 23.7797 6.94468 23.901 7.24999 23.901C7.40116 23.901 7.55085 23.8712 7.69052 23.8133C7.83019 23.7555 7.95709 23.6707 8.06399 23.5638L15 16.6258L21.938 23.5638C22.1539 23.7794 22.4466 23.9005 22.7517 23.9003C23.0568 23.9001 23.3494 23.7787 23.565 23.5628C23.7806 23.3469 23.9016 23.0542 23.9014 22.7491C23.9013 22.444 23.7799 22.1514 23.564 21.9358L16.626 14.9998L23.564 8.0638Z" fill="black"/>
                    </svg>
                </div>
            </div>

            <div class="cart">
                <div class="cart__item">
                    
                </div>
                
                <div class="cart__item">
                    
                </div>
            </div>

            <p class="a-popup-summary">
                Итого: ... руб.
            </p>

            <div class="a-popup-buttons">
                <div class="a-popup-button-to-shipment">
                    К отгрузке
                </div>

                <div class="a-popup-button-reset">
                    Отменить
                </div>
            </div>
        </div>
    </div>
</template>






<script>

export default {
    name: 'a-popup',
    methods: {
        closePopup () {
            this.$emit('closePopup')
        },
        escCloseModal(e) {
            if (e.key === 'Escape') {
            this.closePopup();
        }
    },
    },

    mounted() {
        let vm = this;
        document.addEventListener('click', function (item) {
                if (item.target === vm.$refs['popup_wrapper']) {
                    vm.closePopup();
                }
        }),

        window.addEventListener('keydown', this.escCloseModal);

    },

    destroy() {
        window.removeEventListener('keydown', this.escCloseModal);
    },

    data() {
        return {
            postsInCart: {}
        }
    }
}

</script>




<style>
    .wrapper-to-popup {
        background-color: rgba(0, 0, 0, 0.65);
        position:fixed;
        top:0;
        right:0;
        left:0;
        bottom:0;
        z-index:99;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #a-popup {
        background-color: rgb(255, 255, 255);
        width: 630px;
        border: 2px solid #000;
        position: fixed;
        z-index: 100;
        padding:15px;
    }

    .a-popup__header {
        text-align: center;
        padding:0 0 15px 0;
        position: relative;
    }

    .a-popup__heading {
        font-size: 20px;
        font-weight: 500;
    }

    .a-popup-button-close {
        border: 2px solid #000;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 7px;
        right: 7px;
        cursor:pointer;
    }

    .a-popup-summary {
        margin-bottom: 20px;
    }

    .a-popup-buttons {
        display: flex;
        justify-content: space-around;
    }

    .a-popup-button-to-shipment {
        border: 2px solid #000;
        color: green;
        padding:7px 50px;
        cursor:pointer;
    }

    .a-popup-button-reset {
        border: 2px solid #000;
        color: red;
        padding:7px 50px;
        cursor:pointer;
    }
</style>