<template>
    <div id="a-shipment">
        <p>Отрузка #123</p>
        <p>Заказ #123</p>
        <div class="shipment__data-and-btn">
            <p class="shipment__data">12.06.2022</p>
            <a-select-in-shipments 
                :options="options"
            />
        </div>
    </div>
</template>


<script>
import aSelectInShipments from './a-select-in-shipments'

export default {
    name: 'a-shipment',
    components: {
        aSelectInShipments
    },
    props: {
        post_data: {
            type: Object,
            default() {
                return {}
            }
        }
    },
    data() {
        return {
            options: [
                {
                    name: 'Отменить',
                    value: '1'
                },
            ]
        }
    }
}

</script>

<style>
        #a-shipment {
        margin-top: 30px;
        margin-right: 20px;
        margin-left: 20px;
        border:2px solid #000000;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 30px 30px;
    }

    .shipment__data-and-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .shipment__btn {
        width: 40px;
        height: 40px;
        padding: 3.5px 1px;
        background-color: rgb(255, 255, 255);
        border:2px solid #000000;
    }

    .shipment__data{
        margin-right: 15px;
    }
</style>