<template>
  <div id="a-shipments">
    <div>
      <div class="shiments__head">
        <h2 class="shipments__heading">Отгрузки</h2>
        <button class="shipments__update-btn">
          <svg class="shipments__update-svg" width="35" height="33" viewBox="0 0 35 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
              <path class="shipments__update-arrow"  fill-rule="evenodd" clip-rule="evenodd" d="M17.5 6.1875C15.1361 6.18836 12.8361 6.91129 10.9445 8.24802C9.05296 9.58475 7.67161 11.4633 7.00739 13.6023C6.34317 15.7414 6.43183 18.0257 7.26009 20.1133C8.08836 22.2008 9.61165 23.9792 11.6018 25.182C13.5919 26.3848 15.9418 26.9473 18.2995 26.7852C20.6571 26.6232 22.8956 25.7453 24.6797 24.2831C26.4638 22.8208 27.6975 20.853 28.1959 18.6743C28.6943 16.4956 28.4306 14.2232 27.4444 12.1976C27.3371 11.9514 27.3349 11.6755 27.4384 11.4277C27.5419 11.18 27.743 10.9796 27.9996 10.8685C28.2562 10.7574 28.5485 10.7441 28.8152 10.8316C29.0819 10.919 29.3025 11.1003 29.4307 11.3376C30.6141 13.7684 30.9303 16.4953 30.3321 19.1098C29.7338 21.7244 28.2532 24.0858 26.1121 25.8403C23.9709 27.5949 21.2845 28.6481 18.4552 28.8423C15.6259 29.0365 12.806 28.3612 10.4179 26.9175C8.02986 25.4738 6.20216 23.3395 5.2086 20.8342C4.21504 18.329 4.10911 15.5876 4.90666 13.0208C5.70422 10.454 7.36234 8.19991 9.63265 6.59619C11.903 4.99248 14.6632 4.12545 17.5 4.125V6.1875Z" fill="black"/>
              <path class="shipments__update-arrow" d="M17.5 9.21112V1.10137C17.5 1.00339 17.5297 0.907456 17.5855 0.824791C17.6412 0.742125 17.7208 0.676155 17.8149 0.634603C17.9091 0.593052 18.0138 0.577641 18.1168 0.590174C18.2199 0.602707 18.317 0.642665 18.3969 0.70537L23.5594 4.76024C23.8219 4.96649 23.8219 5.34599 23.5594 5.55224L18.3969 9.60712C18.317 9.66982 18.2199 9.70978 18.1168 9.72232C18.0138 9.73485 17.9091 9.71944 17.8149 9.67789C17.7208 9.63633 17.6412 9.57036 17.5855 9.4877C17.5297 9.40503 17.5 9.3091 17.5 9.21112V9.21112Z" fill="black"/>
            </g>
          </svg>
        </button>
      </div>

      <a-shipment />
      <a-shipment />
      <a-shipment />
      <a-shipment />
    </div>



  </div>
</template>

<script>
import aShipment from './a-shipment.vue'

export default {
  name: 'a-shipments',
  components: {
    aShipment
  }
}

</script>

<style>
  #a-shipments {
    margin-top: 20px;
    border:2px solid #000000;
    padding: 15px 0;
    width: 49%;
  }

  .shipments__head {
    position: relative;
  }

  .shipments__heading {
    display: inline;
  }

  .shipments__update-btn {
    position: absolute;
    left:91.5%;
    padding: 0;
    padding-top: 3px;
    width: 40px;
    height: 40px;
    border:2px solid #000000;
    border-radius: 0;
    background-color: #ffffff;
  }
</style>