body {
    background-color: #3b4249;
    border:2px solid #e6e4ea;
}

h1,h2,h3,h4,h5,h6,p {
    color: #e6e4ea;
}

    .header {
    border:2px solid #e6e4ea;
    }

    .header__switch {
        border: 2px solid #e6e4ea;;
        border-radius: 19px;
        background: #3b4249; 
    }
    .header__switch::after {
        left: 35px;
        background: #e6e4ea;
    }

    .orders__update-btn {
        border:2px solid #e6e4ea;
        background-color: #3b4249;
    }

    .shipments__update-btn {
        border:2px solid #e6e4ea;
        background-color: #3b4249;
    }

    .shipments__update-arrow {
        fill: #e6e4ea;
    }

    .footer {
    border:2px solid #e6e4ea;
    }

    .footer__button {
        background-color: #3b4249;
        border: 2px solid #e6e4ea;
    }

    .footer__svg {
        fill: #e6e4ea;
    }

    #a-orders {
    border:2px solid #e6e4ea;
    color: #e6e4ea;
    }

    #a-shipments {
    border:2px solid #e6e4ea;
    color: #e6e4ea;
    }

    #a-shipment {
        border:2px solid #e6e4ea;
    }

    #a-order {
        border:2px solid #e6e4ea;
    }

    .shipment__btn {
        background-color: #3b4249;
        border:2px solid #e6e4ea;
    }

    .order__btn {
        background-color: #3b4249;
        border:2px solid #e6e4ea;
    }

    .points {
        fill: #e6e4ea;
    }


    .options__option:nth-child(1){
        color: #3b4249;
    }

    .options__option:nth-child(2){
        color: green;
        border-top:2px solid #3b4249;
        border-bottom:2px solid #3b4249;
    }

    .options__option:last-child{
        color: red;
    }

    .options__option:hover {
        background-color: #cfccd5;
    }

    #a-select-in-orders{
        position: relative;
        width: 40px;
    }

    .title {
        border:solid 2px #e6e4ea;
    }

    .options {
        border:solid 2px #e6e4ea;
        position:absolute;
        top:45px;
        right: -5px;
        width: 150px;
        z-index: 10;
        background-color: #e6e4ea;
    }

    .order__btn {
        width: 40px;
        height: 40px;
        padding: 3.5px 1px;
        background-color: #3b4249;
        border:2px solid #e6e4ea;
        cursor: pointer;
    }


    
    .wrapper-to-popup {
        background-color: rgba(0, 0, 0, 0.456);
        color: #3b4249;
    }

    #a-popup {
        border: 2px solid #e6e4ea;
        background-color: #c8c4d0;
    }

    .a-popup__header {
        color: #3b4249;
    }

    .a-popup__heading {
        color: #3b4249;
    }

    .a-popup-button-close {
        border: 2px solid #3b4249;
    }

    .a-popup-summary {
        color: #3b4249;
    }

    .a-popup-button-to-shipment {
        border: 2px solid #3b4249;
    }

    .a-popup-button-reset {
        border: 2px solid #3b4249;
    }