<template>
  <div id="App">
    <header class="header">
      <h1 class="header__heading">Название проекта</h1>
      <div class="header__button-label">
        <p class="header__button-text">Темная тема</p>
        <div class="header__switch"
          @click="darkThemeSwitch">
        </div>
      </div>
    </header>


    <div class="main">
      <a-orders />
      <a-shipments />
    </div>

    <footer class="footer">
      <p class="footer__text">
        Мукомел Наталия Дмитриевна, группа 211-322
      </p>
      <div class="footer__button-and-text">
        <p class="footer__button-text">
          Scroll to top
        </p>

        <button class="footer__button" @click="scrollToTop">
          <svg width="31" height="50" viewBox="0 0 31 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.7917 37.5001V25.0001H23.25L15.5 10.4167L7.75 25.0001H14.2083V37.5001H16.7917Z" fill="black" class="footer__svg"/>
          </svg>
        </button>
      </div>
    </footer>
  </div>
</template>

<script>
import aOrders from './components/a-orders.vue'
import aShipments from './components/a-shipments.vue'

export default {
    name: 'App',

    components: {
      aOrders,
      aShipments
    },

    methods: {
      _addDarkTheme() {
      let darkThemeLinkEl = document.createElement("link");
      darkThemeLinkEl.setAttribute("rel", "stylesheet");
      darkThemeLinkEl.setAttribute("href", "darktheme.css");
      darkThemeLinkEl.setAttribute("id", "dark-theme-style");

      let docHead = document.querySelector("head");
      docHead.append(darkThemeLinkEl);
      },

      _removeDarkTheme() {
        let darkThemeLinkEl = document.querySelector("#dark-theme-style");
        let parentNode = darkThemeLinkEl.parentNode;
        parentNode.removeChild(darkThemeLinkEl);
      },

      darkThemeSwitch() {
        let darkThemeLinkEl = document.querySelector("#dark-theme-style");
        if (!darkThemeLinkEl) {
          this._addDarkTheme()
        } else {
          this._removeDarkTheme()
        }
      },

      scrollToTop() {
        window.scrollTo(0,0)
      }
    }
}
</script>
















<style>
  #app {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #000000;
    padding: 30px 60px;
    box-sizing: border-box;
  }

  .header {
    border:2px solid #000000;
    padding: 15px 0;
    position: relative;
  }

  .header__heading {
    font-size: 30px;
    line-height:1.5;
    display: inline;
  }


  .header__button-label {
    display: flex;
    position: absolute;
    top:26%;
    left: 85%;
    align-items:center;
    justify-content: space-between;
  }

  .header__button-text{
    display: inline;
    margin-right: 10px;
  }


  .header__switch {
  display: inline-block;
  width: 72px;
  height: 38px;
  border: 1.8px solid black;
  border-radius: 19px;
  background: #ffffff; 
  z-index: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms;
  }
  .header__switch::after {
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 17px;
    background: rgb(0, 0, 0);
    top: 2.5px; 
    left: 3px; 
    transition-duration: 300ms;
    position: absolute;
    z-index: 1;
  }


  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  .footer {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    border:2px solid #000000;
    padding: 30px;
  }

  .footer__button-and-text{
    display: flex;
    align-items: center;
  }

  .footer__button-text {
    display: inline;
    margin-right: 10px;
  }

  .footer__button {
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 0;
    width: 55px;
    height: 55px;
  }

</style>
